<!doctype html>
<html ng-app="Kayab">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Kayab platform</title>

  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/sweet-alert.css">
  <link rel="stylesheet" href="css/styles.min.css">
</head>
<body>

<div ng-controller="NavbarCtrl" class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="#/"><button type="button" class="btn btn-info">Home</button></a></li>
      <li ng-if="!isAuthenticated()"><a href="#/login"><button type="button" class="btn btn-success">Log in</button></a></li>
      <li ng-if="!isAuthenticated()"><a href="#/signup"><button type="button" class="btn btn-primary">Sign up</button></a></li>
      <li ng-if="isAuthenticated()"><button type="button" class="btn btn-danger" ng-click="logout()" href="">Logout</button></li>
      <li><a  href="searchapp/index.html"><button type="button" class="btn btn-warning ">search</button></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li ng-if="isAuthenticated() && currentUser">
        {{currentUser.email}}
      </li>
    </ul>
  </div>
</div>
<div ng-view></div>
<script src="vendor/angular.js"></script>
<script src="vendor/angular-route.js"></script>
<script src="vendor/angular-messages.js"></script>
<script src="vendor/sweet-alert.js"></script>
<script src="vendor/satellizer.js"></script>
<script src="app.js"></script>
<script src="services/api.js"></script>
<script src="directives/serverError.js"></script>
<script src="controllers/home.js"></script>
<script src="controllers/navbar.js"></script>
<script src="controllers/login.js"></script>
<script src="controllers/signup.js"></script>
<script src="controllers/detail.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="searchapp/js/jquery-2.1.3.min.js"></script>
  <script src="ui/controller.js"></script>
  <script src="searchapp/bower_components/localstoragedb/localstoragedb.js"></script>
  <script src="searchapp/data/content.js"></script>
  <link rel="stylesheet" href="searchapp/css/font.css">
</body>
</html>
