<div class="container">

  <div ng-if="isAuthenticated() && currentUser">
    <div class="row">
      <span>loggen in!</span>
    </div>
  </div>

  <div ng-if="!isAuthenticated()">
    <div class="jumbotron">
      <h2><i class="ion-images"></i> Kayab</h2>
      <p>This is a basic Kayab clone powered by <strong>Satellizer</strong>. To continue, please log in with your Kayab account or create a new email account.</p>
      <p>
        <a class="btn btn-lg btn-success" href="#/login"><i class="ion-log-in"></i> Log in</a>
        <a class="btn btn-lg btn-primary" href="#/signup"><i class="ion-person-add"></i> Create account</a>
      </p>
    </div>
  </div>

</div>
